<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CityManagerWeb</display-name>
  <servlet>
    <servlet-name>servletparameters</servlet-name>
    <servlet-class>
    	company.citymanagerweb.servlets.ServletParameters
   	</servlet-class>
    <init-param>
      <param-name>secretCode</param-name>
      <param-value>111-11-1111</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletparameters</servlet-name>
    <url-pattern>/ServletParameters.do</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>dbURL</param-name>
    <param-value>jdbc:mysql://localhost/world</param-value>
  </context-param>
  <context-param>
    <param-name>initialseed</param-name>
    <param-value>2</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>